@import url("https://fonts.googleapis.com/css2?family=Nova+Cut&display=swap");
/*   font-family: "Nova Cut", system-ui; */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle,
    rgba(63, 212, 251, 1) 0%,
    rgba(70, 252, 70, 1) 100%
  );
}

/* alerte accueil */
.custom-alert {
  font-family: "Nova Cut", system-ui;
  color: white;
  background-color: #9840ec;
  padding: 20px;
  border: solid 3px white;
  border-radius: 5px;
  text-align: center;
  width: 300px;
  position: absolute; /* centrer verticalement */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8); /* Ombrage extérieur */
  display: none; /* Masqué par défaut */
  z-index: 1000; /* Assure que l'alerte est au-dessus de tous les autres éléments */
}

.ok-btn {
  background-color: white;
  color: #9840ec;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  font-family: "Nova Cut", system-ui;
  border-radius: 5px;
  margin-top: 10px;
}

h1 {
  font-size: 5rem;
  margin-top: 2rem;
  font-family: "Nova Cut", system-ui;
  margin-bottom: 0;
  background: linear-gradient(90deg, rgba(129,53,204,1) 0%, rgba(166,147,116,1) 54%, rgba(13,172,204,1) 100%);
  background-clip: text; /* Propriété standard pour découper l'arrière-plan en forme de texte */
  -webkit-background-clip: text; /* Propriété spécifique à WebKit pour découper l'arrière-plan en forme de texte */
  -webkit-text-fill-color: transparent; /* Propriété spécifique à WebKit pour rendre la couleur de remplissage du texte transparente */
  color: transparent; /* Assure que le texte est invisible, laissant seulement le dégradé visible */
}


body > div:nth-child(2) > h3 {
  margin-bottom: 3rem;
}

h4 {
  font-family: "Nova Cut", system-ui;
  color: #4D4AE5;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.container.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Grille sur 4 colonnes */
  gap: 12px; /* Espacement entre les éléments de la grille */
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.container .theme-button {
  height: 6rem; 
  padding: 0 0 0 6rem;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #d93ffb;
  border: none;
  color: white;
  border-radius: 8px;
  text-align: center;
  position: relative; /* Pour positionner l'image par rapport au bouton */
  z-index: 1; /* assure que les boutons sont en-dessous de l'alerte */
}

.container .theme-button:hover {
  background-color: #c300e2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#question-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.box {
  position: relative;
  padding: 0.3rem 0.2rem 0 0.3rem;
  background: rgba(149, 128, 212, 0.4);  border: 2px solid #4D4AE5;
  box-shadow: 0 10px 20px rgb(23, 32, 90);
  overflow: hidden;
  height: 3rem;
}

.box:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transition: 0.5s;
  pointer-events: none;
}

.box:hover:before {
  left: -50%;
  transform: skewX(-5deg);
}

.box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
}

.box span:nth-child(1) {
  transform: rotate(0deg);
}

.box span:nth-child(2) {
  transform: rotate(90deg);
}

.box span:nth-child(3) {
  transform: rotate(180deg);
}

.box span:nth-child(4) {
  transform: rotate(270deg);
}

.box span:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.1rem;
  background: #0cf5ef;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  50% {
    transform: scaleX(1);
    transform-origin: left;
  }
  50.1% {
    transform: scaleX(1);
    transform-origin: right;
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

#question-title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Nova Cut", system-ui;
  color: #c90076;
}


/* Appliquez l'image à chaque bouton et ajustez sa taille */
#theme-culture {
  background-image: url('../assets/img/culture_general.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-chansons {
  background-image: url('../assets/img/theme_chanson.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-dessins {
  background-image: url('../assets/img/theme_dessinsAnimes.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-harry {
  background-image: url('../assets/img/theme_harryPotter.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-cuisine {
  background-image: url('../assets/img/theme_cuisine.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-series {
  background-image: url('../assets/img/theme-serie.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-geographie {
  background-image: url('../assets/img/theme_geographie.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-orthographe {
  background-image: url('../assets/img/theme_orthographe.JPG');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-sport {
  background-image: url('../assets/img/theme_sport.JPG');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-animaux {
  background-image: url('../assets/img/theme_animaux.JPG');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-cinema {
  background-image: url('../assets/img/theme_cinema.jpg');
  background-size: 6rem 6rem; 
  background-repeat: no-repeat;
}

#theme-faitsInsolites {
  background-image: url('../assets/img/theme_insolite.JPG');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-princessesDisney {
  background-image: url('../assets/img/theme_princesseDisney.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-detailsDisney {
  background-image: url('../assets/img/theme_detailsDisney.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-horreur {
  background-image: url('../assets/img/theme_filmHorreur.JPG');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-drapeaux {
  background-image: url('../assets/img/theme_drapeaux.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-spiderman {
  background-image: url('../assets/img/theme_spiderman.JPG');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-codeDeLaRoute {
  background-image: url('../assets/img/theme_codeRoute.JPG');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-timBurton {
  background-image: url('../assets/img/theme_timBurton.JPG');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-joueursFoot {
  background-image: url('../assets/img/theme_foot.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-vraiFaux {
  background-image: url('../assets/img/theme_vraiFaux.png');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-jeuxVideo {
  background-image: url('../assets/img/theme_jeuxVideo.JPG');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-bdMangaComics {
  background-image: url('../assets/img/theme_bandeDessinee.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-langageSMS {
  background-image: url('../assets/img/theme_langageSMS.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-marquesLogos {
  background-image: url('../assets/img/theme_marquesLogos.JPG');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-gastronomieMonde {
  background-image: url('../assets/img/theme_gastronomie_monde.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-boissonsCocktail {
  background-image: url('../assets/img/theme_boissonsCocktail.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-nutritionSante {
  background-image: url('../assets/img/theme_nutritionSante.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-animauxDomestiques {
  background-image: url('../assets/img/theme_animauxDomestiques.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-ecosystemesHabitats {
  background-image: url('../assets/img/theme_ecosystème.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-plantesBotanique {
  background-image: url('../assets/img/theme_botanique.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-dragonBall {
  background-image: url('../assets/img/theme_dragonBall.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-annees80 {
  background-image: url('../assets/img/theme_annees80.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-bandesOriginalesFilm {
  background-image: url('../assets/img/theme_bandeOriginaleFilm.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-instruments {
  background-image: url('../assets/img/theme_instruments.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-filmsDisney {
  background-image: url('../assets/img/theme_instruments.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-personnagesDisney {
  background-image: url('../assets/img/theme_instruments.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-dessinsAnimesDisney {
  background-image: url('../assets/img/theme_instruments.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-acteursActrices {
  background-image: url('../assets/img/theme_acteurs.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-activitesPleinAir {
  background-image: url('../assets/img/theme_activitésPleinAir.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-jeuxDeSociete {
  background-image: url('../assets/img/theme_jeuxSociété.JPG');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-sportsMoteur {
  background-image: url('../assets/img/theme_sportMoteur.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-personnagesDisney {
  background-image: url('../assets/img/theme_personnagesDisney.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-dessinsAnimesDisney {
  background-image: url('../assets/img/theme_dessinsAnimesDisney.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-musiqueFilmsDisney {
  background-image: url('../assets/img/theme_musiquesFilmsDisney.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-histoire {
  background-image: url('../assets/img/theme_histoire.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-mathematiques {
  background-image: url('../assets/img/theme_mathématiques.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-animes {
  background-image: url('../assets/img/theme_animes.png');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-comedies {
  background-image: url('../assets/img/theme_comedies.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-telerealite {
  background-image: url('../assets/img/theme_telerealite.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-tennis {
  background-image: url('../assets/img/theme_tennis.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-bricolage {
  background-image: url('../assets/img/theme_bricolage.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-parcDisneyland {
  background-image: url('../assets/img/theme_parcDisney.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-mechantsDisney {
  background-image: url('../assets/img/theme_vilainsDisney.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-animauxDisney {
  background-image: url('../assets/img/theme_animauxDisney.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-filmsPixar {
  background-image: url('../assets/img/theme_pixar.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-popRock {
  background-image: url('../assets/img/theme_popRock.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-instrumentsCordes {
  background-image: url('../assets/img/theme_instrumentsCordes.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-starChanson {
  background-image: url('../assets/img/theme_starChanson.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-festivalsMusique {
  background-image: url('../assets/img/theme_festivalMusique.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-marvel {
  background-image: url('../assets/img/theme_marvel.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-superVilains {
  background-image: url('../assets/img/theme_superVilains.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-personnalitesMondiales {
  background-image: url('../assets/img/theme_personnalitesMondiales.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-superman {
  background-image: url('../assets/img/theme_superman.JPG');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-mersOceans {
  background-image: url('../assets/img/theme_mersOceans.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-insectes {
  background-image: url('../assets/img/theme_insectes.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-animauxDeLaFerme {
  background-image: url('../assets/img/theme_animauxFerme.JPG');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-especesAnimales {
  background-image: url('../assets/img/theme_especesAnimales.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-sciences {
  background-image: url('../assets/img/theme_sciences.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-litterature {
  background-image: url('../assets/img/theme_litterature.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-anglais {
  background-image: url('../assets/img/theme_anglais.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-desserts {
  background-image: url('../assets/img/theme_desserts.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-fromages {
  background-image: url('../assets/img/theme_fromages.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-fruitsLegumes {
  background-image: url('../assets/img/theme_fruitsLegumes.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#theme-viennoiseriesPatisseries {
  background-image: url('../assets/img/theme_viennoiseriesPatisseries.jpg');
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
}

#finish-btn {
  margin-top: 0;
}

#score-form {
  margin-top: 0;
}

.hidden {
  display: none;
}

#quiz-container {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

#flag-image {
  height: 10rem;
  width: auto;
}

.option-btn {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #BDBCEF;
  border-color: #d93ffb;
}

.correct {
  background-color: #5cb85c;
  color: white;
}

.incorrect {
  background-color: #d9534f;
  color: white;
}

#next-btn {
  background-color: #d878ed;
  border-radius: 5px;
  width: 7rem;
  height: 2rem;
  color: white;
  margin-bottom: 2rem;
}

#question-text {
  font-weight: bold;
  font-size: 1.5rem;
  word-wrap: break-word; /* Permet le retour à la ligne en cas de besoin */
  max-width: 31rem;
  margin: 0 auto;
  margin-top: 1rem;
}

#options-container {
  max-width: 31rem;
}

#question-number {
  font-weight: bold;
  border: solid 1px #8583e8;
  background-color: #d93ffb;
  border-radius: 50px;
  padding: 0.3rem;
  color: white;
}

.imageHome {
  margin-top: 1rem;
  width: 8rem;
  height: auto;
  border: solid 2px #8583e8;
  border-radius: 50px;
}


/* NAVBAR */

.navbar {
  background-color: #8583e8;
}

#navbarNavDropdown > ul:nth-child(2) > li.nav-item.dropdown > ul {
  background-color: #8583e8;
}

.navbar-nav .dropdown-menu {
  right: 0;
  left: auto;
}

/* SCROLLBAR PERSONNALISEE */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(74, 168, 85, 0.3);
  background: radial-gradient(
    circle,
    rgba(63, 212, 251, 1) 0%,
    rgba(70, 252, 70, 1) 100%
  );
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #c300e2;
  border: 2px solid #83745d;

  background-image: -webkit-linear-gradient(
    90deg,
    transparent,
    rgba(94, 92, 92, 0.4) 70%,
    transparent,
    transparent
  );
}

/* CONNEXION / INSCRIPTION */

#login-form > form > button,
#register-form > form > button {
  font-size: 1rem;
  cursor: pointer;
  background-color: #d93ffb;
  border: none;
  color: white;
  border-radius: 8px;
  text-align: center;
}

.vh-100 {
  height: 100vh;
}

.button2 {
  text-decoration: none;
  padding: 15px 20px;
  font-size: 1.5rem;
  background-color: #d93ffb;
  border: none;
  color: white;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
}

.textSuccess {
  font-weight: bold;
  font-style: italic;
}

.password-toggle-wrapper {
  position: relative;
}

.password-toggle-icon {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.password-toggle-input {
  padding-right: 30px; 
}


/* PROFIL */

h2 {
  font-size: 3rem;
  margin-top: 3rem;
  font-family: "Nova Cut", system-ui;
  margin-bottom: 0;
}

.button3 {
  text-decoration: none;
  padding: 15px 20px;
  font-size: 1rem;
  background-color: #d93ffb;
  border: none;
  color: white;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
}

.button3:hover {
  background-color: #c300e2;
}

.custom-button {
  background-color: #d93ffb;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 5px;
}

/* Masquer l'input file par défaut */
.custom-file-input {
  display: none;
}

/* Label personnalisé pour l'input file */
.custom-file-label {
  background-color: #d93ffb;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 5px;
}

/* Ajouter un style lorsque le fichier est sélectionné */
.custom-file-label.selected {
  background-color: #9840ec;
}

.file-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#editDescriptionBtn {
  text-decoration: none;
  padding: 15px 25px;
  font-size: 1rem;
  background-color: #d93ffb;
  border: none;
  color: white;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
}

#editDescriptionBtn:hover {
  background-color: #c300e2;
}

#cancelEditBtn {
  text-decoration: none;
  padding: 15px 25px;
  font-size: 1rem;
  background-color: #d93ffb;
  border: none;
  color: white;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
}

#cancelEditBtn:hover {
  background-color: #c300e2;
}

body > div.profile-info {
  margin-top: 3rem;
}

.textProfil {
  font-size: 1.5rem;
  font-weight: bold;
}

.button-container {
  display: flex;
  gap: 10px;
}

#deleteAccountForm .button3 {
  margin: 0;
}

.transparent-form {
  margin-top: 3rem;
}

.profile-image-container > form {
  height: 5rem;
  width: 10rem;
  background-color: transparent;
}

.profile-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

.profile-image {
  max-width: 8rem;
  max-height: 8rem;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  margin: 0 auto;
  border: solid 2px #8583e8;
  border-radius: 50px;
}

body > div.container > div.profile-info > p:nth-child(2) {
  margin-bottom: 3rem;
}

/* PAGE RESULTATS */

.bordered-container {
  border: 1px solid black;
  padding: 1rem 4rem 1rem 4rem;
  margin-top: 3rem;
}

.results-heading {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  z-index: 1000;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container4 {
  position: fixed;
  top: 5rem;
  left: 0;
  right: 0;
  padding: 10px 20px;
  max-height: calc(100vh - 5rem);
  overflow-y: auto;
}

body > div > div > h3 {
  color: #9840ec;
  font-family: "Nova Cut", system-ui;
}

.button3 {
  text-decoration: none;
  background-color: #d93ffb;
  border: none;
  color: white;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  padding: 0.5rem;
}